body {
    margin: 0 auto;
    padding: 0;
    background-image: url('../images/下載.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #ffffff;
}


article
{
    border: 15px solid rgb(125, 255, 255);
    background-color: #ffffff;
}
h2
{
    color: rgb(0, 170, 255);
}
#list
{
    padding: 20px;
    background-color: rgb(93, 0, 255);
    text-align: center;
    color: #ffffff;
}

#besmall
{
    width: 100px;
}
#logo
{
    width: 150px;
}
#logop
{
    color: #ffffff;
}

#little_img
{
    border: 2px solid;
}  

#range
{
    padding: 20px;
    border: 3px solid rgb(155, 155, 155);
    background-color: rgb(165, 254, 254);
}

#back
{
    padding: 20px;
    border-top: 5px solid black;
    background-color: rgb(93, 0, 255);
    text-align: center;
    color: #ffffff;
}