body {
    margin: 0 auto;
    padding: 0;
    background-image: url('../images/下載.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #ffffff;
}

article {
    border: 15px solid rgb(125, 255, 255);
    background-color: #ffffff;
}

#h2top {
    color: rgb(0, 17, 255);
}

#logoimg {
    width: 100px;
}
footer img{
    width: 50px;
}